.search-window {
  display: flex;
  flex-direction: column;
  flex: auto;
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.search-bar-wrap {
  padding-bottom: 36px;
}

.search-window__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px;
}

.ant-alert {
  margin: 0 auto;
}

.search-window__pagination {
  display: flex;
  justify-content: center;
  padding: 37px 0 17px;
  margin-top: auto;
}

.ant-pagination-item {
  border: none !important;
}

.ant-pagination-item a:hover {
  color: #ffffff;
  background-color: #1890ff;
  border-radius: 4px;
}

.ant-pagination-item-link {
  border: none !important;
}

@media (max-width: 905px) {
  .search-window__card {
    justify-content: center;
  }
}

.ant-spin-spinning {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
